.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
  background-color: #333333;
  padding: 0 20px;
  color:#eee;
  box-shadow: 0 0 2px 1px #aaaaaa;
}

.app-header>#navigator-header>.nav-active{
  background-color: rgba(155, 155, 155, 0.822);
  border-radius: 5px;
  color: #5fdfff;
}
.app-header>#navigator-header>a{
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 600;
}
.app-header>.header-logo,.app-header>.app-user>a{
  display: flex;
  align-items: center;
  height: 100%;
}
.app-header>.header-logo>img{
  height: 70%;
}
.app-header>.app-user{
  font-size: 14px;
}
.app-header>.app-user>a>.iconfont{
  margin:0 4px;
  font-size: 30px;
}
.app-notfont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc( 100vh - 55px );
  background-color: #fff;
}
.app-notfont>.iconfont{
  display: block;
  font-size: 400px;
  text-align: center;
}
.app-notfont>.notfont-btn{
  font-size: 20px;
  border-radius: 10px;
}